[user]
    name  = Tarik Amar
    email = tarik.amar@gmail.com

[color]
    ui = true
    status = always

[alias]
    st   = status -sbuno
    br   = branch
    d    = diff
    ds   = diff --staged
    dw   = diff --color-words
    dws  = diff --staged --color-words
    dsw  = diff --staged --color-words
    dt   = difftool
    a    = add
    ap   = add -p
    ci   = commit
    cci  = commit -c HEAD
    co   = checkout
    rh  = reset HEAD
    rhh  = reset HEAD --hard
    lg   = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %ar)%Creset'
    last = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %ar)%Creset' -n 1
    g    = grep -n

[core]
    pager = less
    editor = nvim
    whitespace = -trailing-space
    # core.trustctime
    # If false, the ctime differences between the index and the working tree are ignored;
    # useful when the inode change time is regularly modified by something outside Git (file system crawlers and some backup systems).
    # See git-update-index(1). True by default
    trustctime = false

[diff]
    #Todo: to document
    mnemonicPrefix = true
    #Todo: to document, minimal regex for diff words ?
    wordRegex = [[:alnum:]]+|[^[:space:]]
    tool = vimdiff

[fetch]
    #Todo: to document
    recurseSubmodules = on-demand
    prune = true

[grep]
    #Todo: to document
    extendedRegexp = true

[log]
    #Todo: to document
    abbrevCommit = true

[merge]
    # conflictStyle = diff3

[mergetool]
    #Todo: to document
    keepBackup = false
    #Todo: to document
    keepTemporaries = false
    #Todo: to document
    prompt = false

[pull]
    rebase = true

[push]
    default = upstream

[rerere]
    # 'Reuse Recorded Resolution'

    enabled = true

    # add to index automatically
    # autoupdate = true

[status]
    submoduleSummary = true
    showUntrackedFiles = all

[commit]
    template = ~/.gitmessage

[difftool]
    prompt = false

[gitreview]
    remote = origin
    review = '!git-review'
[init]
	templatedir = ~/.git_template/template
