[user]
    name = Tarik
    email = tarik.amar@gmail.com

[color]
    ui = true
    status = always

[alias]
    st   = status -sbuno
    br   = branch
    ci   = commit
    co   = checkout
    lg   = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %ar)%Creset'
    last = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %ar)%Creset' -n 1

[core]
    pager = cat
    editor = vim
    whitespace = -trailing-space

[diff]
    #Todo: to document
    mnemonicPrefix = true
    #Todo: to document, minimal regex for diff words ?
    wordRegex = .

[fetch]
    #Todo: to document
    recurseSubmodules = on-demand

[grep]
    #Todo: to document
    extendedRegexp = true

[log]
    #Todo: to document
    abbrevCommit = true

[merge]
    # conflictStyle = diff3

[mergetool]
    #Todo: to document
    keepBackup = false
    #Todo: to document
    keepTemporaries = false
    #Todo: to document
    prompt = false

[pull]
    rebase = true

[push]
    default = upstream

[rerere]
    # 'Reuse Recorded Resolution'

    enabled = true

    # add to index automatically
    # autoupdate = true

[status]
    submoduleSummary = true
[commit]
    template = ~/.gitmessage.txt
