rofi.lines: 3
! height of line
rofi.eh: 2
! element height
rofi.line-margin: 10
rofi.fullscreen: true
rofi.width: 100
rofi.padding: 400
rofi.opacity: 90
! border width
rofi.bw: 0
rofi.bc: #d64937

rofi.bg: #d64937
rofi.fg: #333333

rofi.hlbg: #333333
rofi.hlfg: white

rofi.font: Powerline DejaVu Sans Mono 14

rofi.sidebar-mode: true
